* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.nav-container {
    display: flex;
    gap: 10px;
}
a {
    text-decoration: none;
    color: black;
}

.movie-info {
    height: 200px;
    widows: 200px;
}

.commentsContainer {
    height: 200px;
}

.addnewComment {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

footer {
text-align: center;
}
